/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.doporucujeme {
    display: flex;
    flex-direction: column;
    color: white;
}

.hlavni-recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;    
}

.sloupec {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.recept-meta {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: space-between;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.hlavni-recept {
    background-image: url(images/burger.jpg) ;
}

.recept2 {
    background-image: url(images/sushi.jpg);
    
}

.recept3 {
    background-image: url(images/rajcata.jpg);
}

.recept4 {
    background-image: url(images/kure.jpg);
}

.recept5 {
    background-image: url(images/grilovani.jpg);
}

.recept {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: 100%;
}

/* pro mobily */

@media screen and (min-height: 320px) and (max-width:480px) {

    .hlavni-recept {
        min-height: 200px;
        min-width: 320px;
        max-width: 480px;
        flex-grow: 2;
        padding: 0.5rem;
        font-size: 1.75rem;
    }

    .recept {
        min-width: 320px;
        max-width: 480px;
        flex-grow: 1;
        padding: 0.5rem;
        min-height: 90px;
        font-size: 1.2rem;

    }

}


